<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/tasks/create" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="name" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="surname" class="form-control" placeholder="surname">
                    </div>                                       
                    <button type="submit" class="btn btn-success btn-block">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>