<div class="jumbotron">
    <h1 class="display-4">Dental office registry</h1>
    <p class="lead">Informations about clients and book appointments</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/registry/list" role="button">
        Control Panel
    </a>
</div>